@font-face {
  font-family: "IRANYekanXFaNum";
  src: url("IRANYekanXFaNum.ttf") format("truetype");
}

@font-face {
  font-family: "Vazirmatn";
  src: url("Vazirmatn-Regular.ttf") format("opentype");
}
