@import url("../fonts/fonts.css");
* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  background-color: #f1ebe3;
}

.app__container {
  width: 100vw;
  height: 500px;
  top: 0;
  background-color: #f3f0ee;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text-input {
  width: 320px;
  height: hug 36px;
  margin-bottom: 34px;
  padding: 8px 16px 8px 16px;
  border-radius: 16px;
  border: 1px solid #cdcdcd;
  gap: 8px;
}

.text-input::placeholder {
  text-align: right;
  font-family: IRANYekanXFaNum;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  color: #cdcdcd;
}

.logo {
  top: 100px;
  width: 60px;
  margin-bottom: 20px;
}

.title {
  width: 20%;
  height: 20px;
  max-width: 277px;
  font-family: IRANYekanXFaNum;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -2%;
  text-align: center;
  margin-bottom: 20px;
}

.recover__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 20px;
}

.submit__button {
  margin-top: 10px;
  width: 184px;
  height: 36px;
  padding: 8px, 16px, 8px, 16px;
  border: none;
  background-color: #c19008;
  color: #ffffff;
  cursor: pointer;
  border-radius: 16px;
  font-family: IRANYekanXFaNum;
}

.submit__button:hover {
  background-color: #9e780d;
}

.cancel__link {
  background: none;
  border: none;
  font-family: IRANYekanXFaNum;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  margin-left: 34px;
}
.cancel__link:hover {
  cursor: pointer;
}

.tree {
  margin-top: 70px;
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
